---
description: Meet the people who made CVAM 2025 possible.
heading: Organizers
layout: base
permalink: /organizers/
published: true
redirect_from:
- /about/organizers/
title: Organizers
---

<header class="subpage-header">
  <h1>{{ page.heading }}</h1>
</header>

<div class="content subpage-content">
  <section class="section-pad">
    <div class="row column">
      <p class="lead">
        There is no "I" in CVAM 2025. Thank you to all our volunteers who make the workshop possible!
      </p>
      <div
        class="row small-up-1 smedium-up-2 medium-up-3 large-up-4 organizers">
      {% for organizer in site.organizers %}
        {% unless organizer.hidden %}
          <div
            class="column column-block">
            <div class="profile">
              {% if organizer.photo_url != blank %}
              <img
                class="thumbnail"
                src="{{ organizer.photo_url }}"
                alt="Photo of {{ organizer.name }}" />
              {% else %}
              <div class="thumbnail default-avatar">
                <svg viewBox="0 0 24 24" fill="currentColor" style="width: 100%; height: 100%; color: #ccc;">
                  <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                </svg>
              </div>
              {% endif %}
              <div class="profile-namecard">
                <h3 class="profile-name">
                  {{ organizer.name }}
                  {% if organizer.pronouns != blank %}
                    ({{ organizer.pronouns }})
                  {% endif %}
                </h3>
                <b>{{ organizer.role }}</b></br>
                {{ organizer.title }}</br>
                {{ organizer.org }}</br>
              </div>
              <ul class="social-icons">
                {% if organizer.twitter != blank %}
                <li>
                  <a class="twitter" href="https://twitter.com/{{ organizer.twitter }}" target="_blank">
                    <svg class="twitter-icon"><use xlink:href="#twitter-icon"></use></svg>
                  </a>
                </li>
                {% endif %}
                {% if organizer.github != blank %}
                <li>
                  <a class="github" href="https://github.com/{{ organizer.github }}/" target="_blank">
                    <svg class="social-icon"><use xlink:href="#github-icon"></use></svg>
                  </a>
                  </li>
                {% endif %}
                {% if organizer.website != blank %}
                <li>
                  <a class="web" href="{{ organizer.website }}" target="_blank">
                    <svg class="social-icon"><use xlink:href="#web-icon"></use></svg>
                  </a>
                </li>
                {% endif %}
              </ul>
              </div><!--/.profile -->
          </div><!--/.column -->
        {% endunless %}
      {% endfor %}

      </div><!--/.row -->
    </div>
  </section>
</div><!-- end .content -->
