---
description: Meet the speakers presenting at CVAM 2025.
heading: Speakers
layout: base
permalink: /speakers/
published: true
title: Speakers
---

<header class="subpage-header">
  <h1>{{ page.heading }}</h1>
</header>

<div class="content subpage-content">
  <section class="section-pad">
    <div class="row column">
      <p class="lead">
        Meet the amazing speakers who will be presenting at CVAM 2025!
      </p>
      <div
        class="row small-up-1 smedium-up-2 medium-up-3 large-up-4 organizers">
      {% for presenter in site.presenters %}
        {% unless presenter.hidden %}
          <div
            class="column column-block">
            <div class="profile">
              {% if presenter.photo_url != blank %}
              <img
                class="thumbnail"
                src="{{ presenter.photo_url }}"
                alt="Photo of {{ presenter.name }}" />
                {% endif %}
              <div class="profile-namecard">
                <h3 class="profile-name">
                  {{ presenter.name }}
                  {% if presenter.pronouns != blank %}
                    ({{ presenter.pronouns }})
                  {% endif %}
                </h3>
                {% if presenter.role != blank %}<b>{{ presenter.role }}</b></br>{% endif %}
                {% if presenter.title != blank %}{{ presenter.title }}</br>{% endif %}
                {% if presenter.company != blank %}{{ presenter.company }}</br>{% endif %}
                {% if presenter.org != blank %}{{ presenter.org }}</br>{% endif %}
              </div>
              <ul class="social-icons">
                {% if presenter.twitter != blank %}
                <li>
                  <a class="twitter" href="https://twitter.com/{{ presenter.twitter }}" target="_blank">
                    <svg class="twitter-icon"><use xlink:href="#twitter-icon"></use></svg>
                  </a>
                </li>
                {% endif %}
                {% if presenter.github != blank %}
                <li>
                  <a class="github" href="https://github.com/{{ presenter.github }}/" target="_blank">
                    <svg class="social-icon"><use xlink:href="#github-icon"></use></svg>
                  </a>
                  </li>
                {% endif %}
                {% if presenter.website != blank %}
                <li>
                  <a class="web" href="{{ presenter.website }}" target="_blank">
                    <svg class="social-icon"><use xlink:href="#web-icon"></use></svg>
                  </a>
                </li>
                {% endif %}
              </ul>
              </div><!--/.profile -->
          </div><!--/.column -->
        {% endunless %}
      {% endfor %}

      </div><!--/.row -->
    </div>
  </section>
</div><!-- end .content -->