---
description: CVAM 2025 Talks
heading: Talks Schedule
layout: default
permalink: /talks/
published: true
sitemap: true
title: Talks Schedule
---

<!-- talks: day 1 -->
<section class="section-pad schedule">
  <div class="row column">
    <h2 class="day">Date TBD, Morning Session</h2>
    <ul class="schedule">
      {% for post in site.schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Sunday' %}
          {% include schedule-talks-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<!-- talks: day 1 -->

<!-- talks: day 2 -->
{% comment %}
<section class="section-pad schedule">
  <div class="row column">
    <h2 class="day">Date TBD</h2>
    <ul class="schedule">
      {% for post in site.schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Saturday' %}
          {% include schedule-talks-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
{% endcomment %}
<!-- talks: day 2 -->
