title: CVAM | ICCV 2025 Workshop on Computer Vision in Advertising and Marketing
url: "https://cvam-workshop.github.io/"
author : Mac Szankin
description: |
  The workshop will explore cutting-edge computer vision applications in digital advertising and marketing, covering fundamental visual understanding tasks, marketing optimization systems, brand intelligence, responsible AI practices, creative generation techniques, and emerging technologies that are transforming how brands connect with audiences through visual content.
enforce_ssl: "cvam-workshop.github.io"
relative_permalinks: false
permalink: news/:title/  # permalink: date
timezone: Pacific/Honolulu
conf_year: 2025

include:
  - _pages

# Build settings
markdown: kramdown

plugins:
- jekyll-feed
- jekyll-gist
- jekyll-mentions
- jekyll-paginate
- jekyll-redirect-from
- jekyll-remote-theme
- jekyll-seo-tag
- jekyll-sitemap
- jemoji

exclude:
- "*.yaml"
- "*.yml"
- .cache
- .editorconfig
- .gitignore
- .vendor
- bin
- bower_components
- CNAME
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- docker-compose.yml
- EDITORS_GUIDE.md
- Gemfile
- Gemfile.lock
- justfile
- LICENSE
- Makefile
- node_modules
- NOTES.md
- package*.json
- Procfile
- README.md
- requirements.in
- vendor
- webpack.config.js

# We need `future` to allow our schedule to work :/
future: true

collections:  # process the _data folder
  components:
    output: false
  schedule:
    output: true
    permalink: /:collection/:name/
  organizers:
    output: false
    permalink: /:collection/
  presenters:
    output: true
    permalink: /:collection/
  sponsors:
    output: false
    permalink: /:collection/
  places:
    output: false
    permalink: /:collection/
  jobs:
    output: true
    permalink: /:collection/:name/

# SEO Plugin settings

twitter:
  username: djangocon

# This is the default logo that people see with opengraph
# logo: /static/2021-logos/squares-and-social/djangocon-square.png
logo: /static/img/social/og.png


# Frontmatter fallback settings
# This is the default logo that people see on blog posts
defaults:
  - scope:
      path: ""
    values:
      image: /static/img/social/avatar-main.png
  - scope:
      path: "_presenters"
      type: presenters
    values:
      sitemap: false

# Our DjangoCon US settings...

schedule_show_video_urls: true

## All the email addresses
conduct_email: ""
contact_us_email: ""
opportunity_grants_email: "s"
program_team_email: ""
sponsors_email: ""
visa_email: ""

## Our DjangoCon US links
cfp_application: ""
hotel_reservation_link: ""
mailing_list: ""
opportunity_grant_application: ""
slack_link: ""
sponsorship_prospectus: ""
ticket_link: ""
# youtube_link: ""

github: [metadata]
facebook:
  app_id: 280981518972848
