---
layout: base
---

<div class="content subpage-content">
  <section class="section-pad">
    <div class="row column">
      <div class="presenter-detail">
        <div class="presenter-avatar">
          {% if page.photo_url != blank %}
          <img
            class="thumbnail"
            src="{{ page.photo_url }}"
            alt="Photo of {{ page.name }}" />
          {% else %}
          <div class="thumbnail default-avatar">
            <svg viewBox="0 0 24 24" fill="currentColor" style="width: 100%; height: 100%; color: #ccc;">
              <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
            </svg>
          </div>
          {% endif %}
        </div>

        <div class="presenter-info">
          <h1 class="presenter-name">
            {{ page.name }}
            {% if page.pronouns != blank %}
              ({{ page.pronouns }})
            {% endif %}
          </h1>

          {% if page.title != blank %}
          <p class="presenter-title">{{ page.title }}</p>
          {% endif %}

          {% if page.company != blank %}
          <p class="presenter-company">{{ page.company }}</p>
          {% endif %}

          {% if page.org != blank %}
          <p class="presenter-org">{{ page.org }}</p>
          {% endif %}

          {% if page.role != blank %}
          <div class="presenter-role">
            {% if page.role.size > 1 %}
              {% for role in page.role %}
                <span class="role-badge">{{ role }}</span>
              {% endfor %}
            {% else %}
              <span class="role-badge">{{ page.role }}</span>
            {% endif %}
          </div>
          {% endif %}
        </div>

        {% if page.twitter != blank or page.github != blank or page.website != blank %}
        <div class="presenter-social">
          <ul class="social-icons">
            {% if page.twitter != blank %}
            <li>
              <a class="twitter" href="https://twitter.com/{{ page.twitter }}" target="_blank">
                <svg class="twitter-icon"><use xlink:href="#twitter-icon"></use></svg>
              </a>
            </li>
            {% endif %}
            {% if page.github != blank %}
            <li>
              <a class="github" href="https://github.com/{{ page.github }}/" target="_blank">
                <svg class="social-icon"><use xlink:href="#github-icon"></use></svg>
              </a>
            </li>
            {% endif %}
            {% if page.website != blank %}
            <li>
              <a class="web" href="{{ page.website }}" target="_blank">
                <svg class="social-icon"><use xlink:href="#web-icon"></use></svg>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        {% endif %}

        {% if content != blank %}
        <div class="presenter-description">
          {{ content }}
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</div>